.LOOKBOOK{font-family: var(--ff);}
.LOOKBOOK hr{margin: 62px 0;}
.LOOKBOOK .pic{ max-width: 663px; background-color: #f8f8f8;}
.LOOKBOOK .text4{text-align: right; padding: 50px 15px 0 0; text-shadow: #a09d9e 1px 0 10px;}
.LOOKBOOK .text4 h3{margin-bottom: 10px; font-weight: 700; font-size: 33px; color:rgb(87, 81, 83) ;}
.LOOKBOOK .text4 .lookbook{font-weight: 300; font-size: 27px;color:#575153}
.LOOKBOOK .text4 .pg{margin: 15px 0; font-size: 15px; color:#727272;}
.LOOKBOOK .viewnow{margin-top: 50px;}
.LOOKBOOK .viewnow a{border: 1px solid #737373; padding: 23px 33px; color: rgb(69, 70, 71);display: inline-block;}
.LOOKBOOK .viewnow a:hover{background: #00c8c8; color: #f8f8f8; border: 1px solid #00c8c8;}

@media screen and (max-width:1220px){

    .LOOKBOOK .viewnow a{padding: 15px;}
    .LOOKBOOK .text4 h3{font-size: 24px;}
    .LOOKBOOK .text4 .lookbook {font-size: 18px;}
    
}

@media screen and (max-width:980px){
    
    .LOOKBOOK .pic {max-width: 100%;height: auto; margin-bottom: 2rem;}
    .LOOKBOOK .text4 {padding: 50px 50px 0 0;}

}

@media screen and (max-width:460px){
    
    .LOOKBOOK .text4 h3{font-size: 28px;}
    .LOOKBOOK .text4{padding: 30px 10px 0 0}
 
}